/* index.css */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

ul li a {
    color: #000;
   }
   
   ul li a:hover {
    color: #00a8ff;
   }
   
   ul li a.active {
    color: #00a8ff;
   }